body{font-family:Arial,Helvetica,sans-serif;margin:0;background:#FAFCFF;color:#000;background:#FAFCFF url('images/') repeat; }
ul{margin:1px;padding-left:20px;}
.BodyContent{position:relative;left:0;top:0;width:100%;margin:0 auto 0 auto;}
.Border{position:relative;z-index:1;overflow:hidden;padding:14px 14px 14px 14px;color:#000;font-size:13px;}
.Border a{color:#5B3700;text-decoration:underline;}
.Border a:visited{color:#5B3700;text-decoration:underline;}
.Border a:hover{color:#000;text-decoration:none;}
.BorderBorder{z-index:0;position:relative;margin:0;}
.BorderTL,.BorderTR,.BorderBL,.BorderBR,.BorderL,.BorderT,.BorderR,.BorderB,.BorderC{position:absolute;z-index:-1;overflow:hidden;}
.BorderTL,.BorderTR,.BorderBL,.BorderBR{width:37px;height:37px;}
.BorderTL{top:0;left:0;background-image:url('images/BorderCorners.png');}
.BorderTR div,.BorderBL div,.BorderBR div{height:74px;width:74px;position:absolute;z-index:-1;background-image:url('images/BorderCorners.png');}
.BorderTR div{left:-37px;}
.BorderBL div{top:-37px;}
.BorderBR div{left:-37px;top:-37px;}
.BorderTR{top:0;right:0;}
.BorderBL{bottom:0;left:0;}
.BorderBR{bottom:0;right:0;}
.BorderT,.BorderB{left:37px;right:37px;height:37px;}
.BorderT{top:0;background-image:url('images/BorderHorizontal.png');}
.BorderB{bottom:0;}
.BorderB div{position:absolute;z-index:-1;top:-37px;height:74px;width:100%;background-image:url('images/BorderHorizontal.png');}
.BorderL,.BorderR{top:37px;bottom:37px;width:37px;}
.BorderL{left:0;background-image:url('images/BorderVertical.png');}
.BorderR{right:0;}
.BorderR div{position:absolute;z-index:-1;left:-37px;width:74px;height:100%;background-image:url('images/BorderVertical.png');}
.BorderC{left:37px;top:37px;right:37px;bottom:37px;background-image:url('images/BorderCenter.png');}
.BorderBorder{width:900px;margin:5px auto;}
.Header{position:relative;background-image:url('images/header_back.jpg');background-repeat:no-repeat;padding:0;height:130px;color:#000;}
.HeaderTitle{height:150px;width:900px;display:table-cell;text-align:Justified;vertical-align:Top;color:#000;font-size:18px;text-decoration:none;font-style:normal;font-weight:bold;border-width:medium;}
.HeaderTitle h1 a,.HeaderTitle h1 a:link,.HeaderTitle h1 a:visited,.HeaderTitle h1 a:hover{text-decoration:none;color:inherit;}
.HeaderTitle h1{margin:0;padding:0 20px;color:#000;font-size:26px;text-decoration:none;font-style:normal;font-weight:bold;}
.HeaderTitle h2{margin:0;padding:0 20px;font-size:inherit;font-weight:inherit;}
.HeaderLogin
{
	position: absolute;
	left: 800px;
	top: 120px;
	font-variant: normal;
	font-style: normal;
	color: yellow;
	font-size: 12pt;
	text-decoration: underline;
}
.Menu{background:transparent url('images/MenuBar.png') no-repeat;padding:0 5px 0 5px;margin:0;text-align:Center;}
.Menu ul{list-style-type:none;padding:0;margin:0;color:#FFF;}
.Menu li{display:inline;padding:0;margin:0;}
.MenuButton,.MenuButtonInput{border:0;margin:0;background:transparent url('images/MenuButtonAnchor.png') no-repeat top left;position:relative;overflow:hidden;height:33px;padding:0 0 0 18px;display:inline-block;color:#FFF;font-size:13px;vertical-align:middle;zoom:1;}
.MenuButton span,.MenuButtonInput span{border:0;margin:0;background:transparent url('images/MenuButton.png') no-repeat right top;display:block;position:relative;color:#FFF;line-height:13px;}
.MenuButton span{padding:10px 18px 10px 0;}
.MenuButtonInput span{padding:0 18px 0 0;height:33px;}
.MenuButtonInput input{color:#FFF;	border-style: none;
	border-color: inherit;
	border-width: 0;
	font-size:13px;	color:inherit;	height:33px;	padding:0 18px;	margin:0 -18px;	overflow:visible;	cursor:pointer;background:;
*	left:-18px;
}
.MenuButtonInput::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner{border:none;}
.MenuButton,.MenuButton:link,.MenuButton:visited,.MenuButton:hover,.MenuButton:active{text-decoration:none!important;outline:none;}
.MenuButton:hover,.MenuButtonInput:hover{background-position:left center;}
.MenuButton:hover span,.MenuButtonInput:hover span{background-position:right center;color:#000;}
.MenuButton:active,.MenuButtonInput:active{background-position:left bottom;}
.MenuButton:active span,.MenuButtonInput:active span{background-position:right bottom;color:#000;}
.ActiveMenuButton,.ActiveMenuButtonInput{border:0;margin:0;background:transparent url('images/ActiveMenuButtonAnchor.png') no-repeat top left;position:relative;overflow:hidden;height:33px;padding:0 0 0 18px;display:inline-block;color:#FFF;font-size:13px;vertical-align:middle;zoom:1;}
.ActiveMenuButton span,.ActiveMenuButtonInput span{border:0;margin:0;background:transparent url('images/ActiveMenuButton.png') no-repeat right top;display:block;position:relative;color:#FFF;line-height:13px;}
.ActiveMenuButton span{padding:10px 18px 10px 0;}
.ActiveMenuButtonInput span{padding:0 18px 0 0;height:33px;}
.ActiveMenuButtonInput input{color:#FFF;	border-style: none;
	border-color: inherit;
	border-width: 0;
	font-size:13px;	color:inherit;	height:33px;	padding:0 18px;	margin:0 -18px;	overflow:visible;	cursor:pointer;background:;
*	left:-18px;
}
.ActiveMenuButtonInput::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner{border:none;}
.ActiveMenuButton,.ActiveMenuButton:link,.ActiveMenuButton:visited,.ActiveMenuButton:hover,.ActiveMenuButton:active{text-decoration:none!important;outline:none;}
.ActiveMenuButton:hover,.ActiveMenuButtonInput:hover{background-position:left center;}
.ActiveMenuButton:hover span,.ActiveMenuButtonInput:hover span{background-position:right center;color:#000;}
.ActiveMenuButton:active,.ActiveMenuButtonInput:active{background-position:left bottom;}
.ActiveMenuButton:active span,.ActiveMenuButtonInput:active span{background-position:right bottom;color:#000;}
.Columns{overflow:hidden;}
.Column1{overflow:hidden;float:left;width:20%; border-width:thin; border-style:solid;}
.Column2{overflow:hidden;float:right;width:20%;}
.MainColumn{overflow:hidden;}
img{border:0;}
h2{margin:0;}
blockquote{width:80%;color:#000;border:solid 1px #38F;background:#004AB2;margin:0 auto;padding:15px;-webkit-border-radius:5px;-moz-border-radius:5px;}
blockquote a,blockquote a:link{color:#5B3700!important;text-decoration:underline;}
blockquote a:visited{color:#5B3700!important;text-decoration:underline;}
blockquote a:hover{color:#000!important;text-decoration:none;}
.Article{position:relative;z-index:1;overflow:hidden;padding:10px 10px 10px 10px;color:#000;font-size:13px;margin:5px;}
.Article a{color:#5B3700;text-decoration:underline;}
.Article a:visited{color:#5B3700;text-decoration:underline;}
.Article a:hover{color:#000;text-decoration:none;}
.Article h2{color:#000;font-size:22px;text-decoration:none;font-style:normal;font-weight:bold;}
.Article h2 a,.Article h2 a:visited{color:#000;text-decoration:none;}
.Article h2 a:hover{text-decoration:underline;}
.Block{position:relative;z-index:1;overflow:hidden;padding:5px 5px 5px 5px;color:#000;font-size:13px;margin:0;}
.Block a{color:#5B3700;text-decoration:underline;}
.Block a:visited{color:#5B3700;text-decoration:underline;}
.Block a:hover{color:#000;text-decoration:none;}
.BlockHeader{border:0;margin:0;background:transparent url('images/BlockHeaderAnchor.png') no-repeat top left;position:relative;overflow:hidden;height:25px;padding:0 0 0 18px;display:block;color:#000;font-size:13px;font-weight:bold;vertical-align:middle;zoom:1;}
.BlockHeader span{border:0;margin:0;background:transparent url('images/BlockHeader.png') no-repeat right top;display:block;position:relative;color:#000;line-height:15px;}
.BlockHeader span{padding:5px 18px 5px 0;}
.BlockHeader{margin:0 0 2px 0;}
.BlockContentBorder
{
	position: relative;
	z-index: 1;
	overflow: hidden;
	padding: 5px 5px 5px 5px;
	color: #000;
	font-size: 13px;
	margin: 0;
	background-color: #FFFFCC;
}
.BlockContentBorder a{color:#5B3700;text-decoration:underline;}
.BlockContentBorder a:visited{color:#5B3700;text-decoration:underline;}
.BlockContentBorder a:hover{color:#000;text-decoration:none;}
.Button,.ButtonInput{border:0;margin:0;background:transparent url('images/ButtonAnchor.png') no-repeat top left;position:relative;overflow:hidden;height:37px;padding:0 0 0 25px;display:inline-block;color:#FFF;font-size:13px;vertical-align:middle;zoom:1;}
.Button span,.ButtonInput span{border:0;margin:0;background:transparent url('images/Button.png') no-repeat right top;display:block;position:relative;color:#FFF;line-height:13px;}
.Button span{padding:12px 25px 12px 0;}
.ButtonInput span{padding:0 25px 0 0;height:37px;}
.ButtonInput input{color:#FFF;	border-style: none;
	border-color: inherit;
	border-width: 0;
	font-size:13px;	color:inherit;	height:37px;	padding:0 25px;	margin:0 -25px;	overflow:visible;	cursor:pointer;background:;
*	left:-25px;
}
.ButtonInput::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner{border:none;}
.Button,.Button:link,.Button:visited,.Button:hover,.Button:active{text-decoration:none!important;outline:none;}
.Button:hover,.ButtonInput:hover{background-position:left center;}
.Button:hover span,.ButtonInput:hover span{background-position:right center;color:#000;}
.Button:active,.ButtonInput:active{background-position:left bottom;}
.Button:active span,.ButtonInput:active span{background-position:right bottom;color:#000;}
.Footer
{
	text-align: center;
	margin:12px;
	color: buttonshadow;
	vertical-align: middle;
	border-top: black thin solid;
	font-style: normal;
	font-size: 11px;
}
.Footer a
{
	color: buttonshadow;
	text-decoration: underline;
	text-align: center;
	vertical-align: middle;
}
.Footer a:visited{color:#FFF;text-decoration:underline;}
.Footer a:hover{color:#FFF;text-decoration:none;}
.BackLink{text-align:center;display:block;display:block;font-size:11px;padding:0 0 12px;color:#000;}
.BackLink a{color:#000;}
 .grid-view
{
   padding: 0;
   margin-right: auto; 
   margin-left: auto;
   border: 1px solid #333;
   font-family: "Verdana, Arial, Helvetica, sans-serif, Trebuchet MS";
   font-size: 0.9em;
}

.grid-view tr.header
{
   color: white;
   background-color: #FF5600;
   height: 25px;
   vertical-align: middle;
   text-align: center;
   font-weight: bold;
}
    .grid-view tr.normal
{
   color: black;
   background-color: Lavender;
   height: 30px;
   vertical-align: middle;
   text-align: center;
}

.grid-view tr.alternate
{
   color: black;
   background-color: WhiteSmoke;
   height: 30px;
   vertical-align: middle;
   text-align: center;
}
.grid-view tr.normal:hover, .grid-view tr.alternate:hover
{
   background-color: BlanchedAlmond;
   color: black;
   font-weight: bold;
}
.h1
{
	text-align: left;
	background-color: inactivecaption;
	font-style: normal;
	color: blue;
	font-size: 16px;
	vertical-align: middle;
	height: 40px;
	background-image: none;
}
.col1
{
	
	background-color: #3300ff;
	color: #ffffff;
	font-size: 15px;
	text-align: left;
	vertical-align: middle;
}

.col2
{
	border-bottom: white thick;
	border-left: white thick;
	background-color: #ccffff;
	font-size: 16px;
	border-top: white thick;
	border-right: white thick;
	text-align: left;
	vertical-align: middle;
}